anthropic==0.37.1
cohere==5.5.8
colorama==0.4.6
datasets==3.0.2
fastapi==0.115.3
google-api-core==2.21.0
google-api-python-client==2.149.0
google-auth==2.35.0
googleapis-common-protos==1.65.0
huggingface-hub==0.26.1
Jinja2==3.1.4
mistralai==1.1.0
numpy==1.26.4
openai==1.57.0
pandas==2.2.3
scipy==1.14.1
sentencepiece==0.2.0
torch==2.4.0
torchvision==0.19.0
transformers==4.45.2
vllm==0.6.3
